
# Git internals + CI config
.git
.gitignore
.gitattributes
.github
.env

# Test code + config
tests/
frontend-tests/
pytest.ini
requirements-test.txt
test_folder/


# Operator data and local conda env
data/
env/
config.yaml
