.env
.vscode/
env/
__pycache__/
sqlite_db.db
venv/
report/
config.yaml
data/
logs/
example_uses/
data.csv
sds_db.db
software.csv
test.py
container_data/
feedback/
spider_data/
api_response.json
.DS_Store
app/static/last_updated.txt