.env
.vscode/
env/
__pycache__/
sds_db.db
formInfo.log
.DS_Store
queryInfo.log
reports/
report/
feedback/
app/reports/
!app/logic/reports
app/feedback
data.csv
api_response.json
container_data
test.py
config.yaml
spider_data
data/
logs/*
software.csv
sqlite_db.db
app/models/api_response.json
example_uses/