<div class="containerModal modal fade" id="container-modal" tabindex="-1" role="dialog" aria-labelledby="container-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">
                    <i class="bi bi-grid-fill"></i>
                    <span id="container-modal-title"></span>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="container-modal-body">
                <div>
                    <button type="button" class="btn btn-secondary mb-3 btn-sm" id="toggleAccordions">
                        Hide All
                    </button>
                </div>
                <div class='accordion' id="container-accordion">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>