<div id="feedback-modal" class="modal modal_search"  tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="feedback-modal-title" class="modal-title">Feedback</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div id="feedbackBody" class="modal-body">
          <p>Please provide any feedback you have for the team regarding the Software Documentation Service:</p>
          <form>
            <div class="form-group">
                <label for="provideFeedback">Feedback:</label>
                <textarea class="form-control" id="provideFeedback" rows="8"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="sendFeedbackBtn">Send Feedback</button>
        </div>
      </div>
    </div>
</div>