<div class="softwareDetailsModal modal" id="softwareDetails-modal" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="softwareDetails-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="softwareDetails-modal-title">
          <i class="bi bi-grid-fill" aria-hidden="true"></i>
          <span id="software-modal-title">
          </span>
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body" id="softwareDetailsBody">
        <div class="row" id="software-data">
        </div>
      </div>
    </div>
  </div>
</div>