<div class="softwareDetailsModal modal" id="softwareDetails-modal" tabindex="-1" role="dialog" aria-labelledby="softwareDetails-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="softwareDetails-modal-title"><b>Software Details: </b></h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body" id="softwareDetailsBody">
        <div class="container-fluid">
          <div class="row">
          {% if use_ai_info %}
            <div class="col-md-6">
          {% else %}
            <div class="col">
          {% endif %}
              <div class="row borderColumn" data-bs-toggle="collapse" data-bs-target="#curatedSoftwareDetails">
                <p><h5><b>Curated Information</b></h5></p>
              </div>
              <div class="row">
                <div class="col-md-12 collapse show" id="curatedSoftwareDetails">

                  {% if 'software_name' in column_names %}
                    <div class="row">
                      <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#curatedName">
                        <p><b>Software Name:</b></p>
                      </div>
                      <div class="col-md-8 borderValue collapse show" id="curatedName">
                        <p id="softwareDetailsName"></p>
                      </div>
                    </div>
                  {% endif %}

                  {% if 'resource_name' in column_names %}
                    <div class="row">
                      <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#curatedRPs">
                        <p><b>Available on these resources:</b></p>
                      </div>
                      <div class="col-md-8 borderValue collapse show" id="curatedRPs">
                        <p id="softwareDetailsRPs"></p>
                      </div>
                    </div>
                  {% endif %}

                  {% if 'software_description' in column_names %}
                    <div class="row">
                      <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#curatedDescription">
                        <p><b>Software Description:</b></p>
                      </div>
                      <div class="col-md-8 borderValue collapse show" id ="curatedDescription">
                        <p id="softwareDetailsDescription"></p>
                      </div>
                    </div>
                  {% endif %}

                  {% if 'software_web_page' in column_names %}
                    <div class="row">
                      <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#curatedWebpage">
                        <p><b>Software's Web Page:</b></p>
                      </div>
                      <div class="col-md-8 borderValue collapse show" id="curatedWebpage">
                        <p id="softwareDetailsWebpage"></p>
                      </div>
                    </div>
                  {% endif %}

                  {% if 'software_documentation' in column_names %}
                    <div class="row">
                      <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#curatedDocumentation">
                        <p><b>Software's Documentation:</b></p>
                      </div>
                      <div class="col-md-8 borderValue collapse show" id="curatedDocumentation">
                        <p id="softwareDetailsDocumentation"></p>
                      </div>
                    </div>
                  {% endif %}

                  {% if 'software_use_link' in column_names %}
                    <div class="row">
                      <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#curatedTutorial">
                        <p><b>Tutorials or Examples of Software's Use:</b></p>
                      </div>
                      <div class="col-md-8 borderValue collapse show" id="curatedTutorial">
                        <p id="softwareDetailsExamples"></p>
                      </div>
                    </div>
                  {% endif %}

                  {% if 'software_version' in column_names %}
                    <div class="row">
                      <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#curatedVersions">
                        <p><b>Installed Versions:</b></p>
                      </div>
                      <div class="col-md-8 borderValue collapse show" id="curatedVersions">
                        <p id="softwareDetailsVersions"></p>
                      </div>
                    </div>
                  {% endif %}

                </div>
              </div>
            </div>

            {% if use_ai_info %}
              <div class="col-md-6">
                <div class="row borderColumn" data-bs-toggle="collapse" data-bs-target="#generatedSoftwareDetails">
                  <p><h5><b>✨ AI Generated Information</b></h5></p>
                </div>
                <div class="row">
                  <div class="col-md-12 collapse show" id="generatedSoftwareDetails">

                    {% if 'ai_software_type' in column_names %}
                      <div class="row">
                        <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#curatedType">
                          <p><b>Software Type:</b></p>
                        </div>
                        <div class="col-md-8 borderValue collapse show" id="curatedType">
                          <p id="softwareDetailsType"></p>
                        </div>
                      </div>
                    {% endif %}
                    {% if 'ai_software_class' in column_names %}
                      <div class="row">
                        <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#curatedClass">
                          <p><b>Software Class:</b></p>
                        </div>
                        <div class="col-md-8 borderValue collapse show" id="curatedClass">
                          <p id="softwareDetailsClass"></p>
                        </div>
                      </div>
                    {% endif %}
                    {% if 'ai_research_field' in column_names %}
                      <div class="row">
                        <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#curatedField">
                          <p><b>Research Field:</b></p>
                        </div>
                        <div class="col-md-8 borderValue collapse show" id="curatedField">
                          <p id="softwareDetailsField"></p>
                        </div>
                      </div>
                    {% endif %}
                    {% if 'ai_research_area' in column_names %}
                      <div class="row">
                        <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#curatedArea">
                          <p><b>Research Area:</b></p>
                        </div>
                        <div class="col-md-8 borderValue collapse show" id="curatedArea">
                          <p id="softwareDetailsArea"></p>
                        </div>
                      </div>
                    {% endif %}
                    {% if 'ai_research_discipline' in column_names %}
                      <div class="row">
                        <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#curatedDiscipline">
                          <p><b>Research Discipline:</b></p>
                        </div>
                        <div class="col-md-8 borderValue collapse show" id="curatedDiscipline">
                          <p id="softwareDetailsDiscipline"></p>
                        </div>
                      </div>
                    {% endif %}
                    {% if 'ai_description' in column_names %}
                      <div class="row">
                        <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#generatedDescription">
                          <p><b>Description:</b></p>
                        </div>
                        <div class="col-md-8 borderValue collapse show" id="generatedDescription">
                          <p id="softwareDetailsAIDesc"></p>
                        </div>
                      </div>
                    {% endif %}
                    {% if 'ai_core_features' in column_names %}
                      <div class="row">
                        <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#generatedFeatures">
                          <p><b>Core Features:</b></p>
                        </div>
                        <div class="col-md-8 borderValue collapse show" id="generatedFeatures">
                          <p id="softwareDetailsCoreFeat"></p>
                        </div>
                      </div>
                    {% endif %}
                    {% if 'ai_general_tags' in column_names %}
                      <div class="row">
                        <div class="col-md-4 borderCell" data-bs-toggle="collapse" data-bs-target="#generatedTags">
                          <p><b>Tags:</b></p>
                        </div>
                        <div class="col-md-8 borderValue collapse show" id="generatedTags">
                          <p id="softwareDetailsTags"></p>
                        </div>
                      </div>
                    {% endif %}

                  </div>
                </div>

                {% if 'ai_example_use' in column_names %}
                  <div class="row">
                    <div class="col-md-12 borderExample" data-bs-toggle="collapse" id="modalExampleTitle" data-bs-target="#modalExampleUse">
                      <p><b>✨Example Use (Click to Show):</b></p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 borderCell collapse" id="modalExampleUse" style="background-color:white;color:black;"> 
                      <p>Example Use Goes Here</p>
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endif %}

          </div>
        </div>

        <script>
          // Jquery Draggable
          $('.modal-dialog').draggable({
            handle: ".modal-header"
          });
        </script>

      </div>
    </div>
  </div>
</div>