body{
  font-size: medium;
  font-family: Archivo, sans-serif;
}

.tag {
    display: inline-block;
    margin: 2px;
  }

.hovered {
  border: 2px solid red;
}

#softwareTable {
  display: none;  /* Table is initially hidden to save load times*/
}