/* Main modal container*/

a {
  font-size: 1em;
  /* font-weight: bold; */
  text-decoration: underline;
  color: var(--secondary-color-1);
  margin-right: 15px;
}

a:hover {
  color: var(--primary-color-1);
  cursor: pointer;
}


.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

/* modified bootstrap classes */

.modal {
  --bs-modal-border-radius: 10px;
  --bs-modal-header-border-width: 0px;
  --bs-modal-footer-border-width: 0px;
  /* --bs-modal-width: 600px; */
  /* --bs-modal-footer-border-width: 0px; */

}

.modal-title {
  font-weight: 800;
  /* font-size: 18px; */
  line-height: 22px;
  color: var(--primary-color-1);
}

.modal-body{
  font-size: 18px;
  line-height: 20px;
  background-color: #ffffff;
  padding-top: 0px;
  /* padding-bottom: 0px; */
  border-radius: 10px;
}

.modal-footer {
  justify-content: flex-start;
}

.btn-close {
  margin: 0;
  opacity: 1;
  margin-bottom: 10px;
  font-size: 16px;
}

.bi {
  margin: 3px;
  margin-right: 3px;
}