
.section-title {
    font-size: 16px;
    font-weight: 700;
}

.section-text {
    font-size: 16px;
    /* font-weight: 600; */
}

[id$="-software"] {
    font-size: 20px !important;
}

.more-info-item > .section-text {
    font-size: 16px;
    font-weight: 600;
}

.more-info {
    background-color: var(--primary-color-4);
    padding: 15px;
}

.tag, .software-type, .research-discipline {
  font-size: 1em;
  text-decoration: underline;
  color: var(--secondary-color-1);
  margin-right: 15px;
}

.tag:hover, .software-type:hover, .research-discipline:hover {
  color: var(--primary-color-1);
  cursor: pointer;
}

.more-info {
    margin-bottom: 25px;
}

.more-info > .intro {
    font-size: 1em;
}

.more-info-item {
    padding: 10px;
}

.more-info-item > *{
    margin-top: 5px;
    margin-bottom: 5px;
}

.installed-on {
    margin-top: 10px;
    margin-bottom: 10px;

}