

.dataframe {
    border: 0px;
}

#softwareTable {
    border: 0px;
}

.filter-button {
    font-size: 20px;
    color: var(--primary-color-2)
}

.filter-button:hover {
    cursor: pointer;
    color: var(--primary-color-1);
}

.table-software {
    display:inline-block;
    font-weight: 600;
    max-width: 200px !important;
    hyphens: auto;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1pt solid black;
}

td {
    text-wrap: balance;
    word-break: break-word;
}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
    text-align: left;
}

table.dataTable > tbody > tr {
    vertical-align: top;
}

.col-search::before {
    content: "\F52A";
    font-family: bootstrap-icons;
    background-image: none;
}

.col-search::after {
    content: "\F52A";
    font-family: bootstrap-icons;
    background-image: none;
}


.dt-length {
    display: inline;
    align-content: center;
}

.dt-info {
    display: inline;
    align-content: center;
}

/* search box */
.dt-input{
    border-radius: 0px;
}
.dt-search > label {
    display: none;
}

/* Searchpanes filers */
.dtsp-searchCont > input {
    border: solid !important;
    padding: 2px !important;
    color: var(--secondary-color-3) !important;
    font-weight: 800 !important;
}


/* Styles for the pagination section below the table */

#table_footer_menu {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px
}

div.dt-container .dt-paging .dt-paging-button  {
    color: var(--primary-color-2) !important;
    font-weight: bold;
    padding: 0px;
    border: none;
    background: none;
    margin-right: 5px;

}

div.dt-container .dt-paging .dt-paging-button:hover {
    color: var(--secondary-color-3) !important;
    font-weight: bold;
    background: none;
}

div.dt-container .dt-paging .dt-paging-button.current  {
    color: var(--secondary-color-3) !important;
    font-weight: bold;
    background: none;
    border: 0px;
}

div.dt-container .dt-paging .dt-paging-button.current:hover  {
    color: var(--secondary-color-3) !important;
    font-weight: bold;
    background: none;
}

#dt-length-0 {
    margin-right: 10px;
}