.softwareDetailsModal .modal-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width:70%;
}

.softwareDetailsModal .modal-content{
    display:flex;
    flex-direction: column;
    width: auto;
    border:#154e5fee 4px solid;
}
.softwareDetailsModal .modal-header{
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%) !important;
    border: 3px #154e5fd5 solid;
    border-radius: 5px;
}
.softwareDetailsModal .modal-body{
    padding: 0;
    background-color: #1a5b6e;
    font-size:1em;
    border: 1px #144352 solid;
}

/* Custom class to format collapsable columns*/
#softwareDetailsBody .borderColumn{
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%) !important;
    background-color:#1a5b6e !important;
    color:white;
    border: 3px #154e5fd5 solid;
    border-radius: 6px;
    font-size:1.03em;
    padding-top:15px;
    padding-bottom:15px;
    text-align: center;
    justify-content: center;
    cursor:pointer;
}
/* Custom class for 'Example Use' */
#softwareDetailsBody .borderExample{
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%) !important;
    background-color:#1a5b6e !important;
    color:white;
    border: 3px #154e5fd5 solid;
    border-radius: 6px;
    font-size:1.04em;
    padding-top:15px;
    padding-bottom:5px;
    text-align: center;
    justify-content: center;
    cursor:pointer;
}
/* Custom class for collapsable row headers */
#softwareDetailsBody .borderCell{
    background-color:#1a5b6e;
    cursor:pointer;
    color:white;
    border: 3px #154e5fd5 solid;
    border-radius: 6px;
}
/* Custom class for collapsable row data */
#softwareDetailsBody .borderValue{
    background-color:#107180;
    color:white;
    border: 3px #0c5a66d5 solid;
    border-radius: 6px;

}
/* Increase contrast of links inside softwareDetails modal */
#softwareDetailsBody a {
    color: #adfbff;
}
/* Line Spacer inside Modal */
#softwareDetailsBody hr{
    border:0;
    height:1px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color:#0c5a66d5;
}