{% extends "base.html" %}

{% block page_title%}
    <div style="text-align: center;">
        <br>
        <h1 id="page_title">Login</h1>
        <br>
    </div>
{% endblock %}

{% block app_content %}
    <form id="loginForm" method="post" role="form" action="{{url_for('auth.login')}}">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" name="username" required autocomplete="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required autocomplete="current-password">
        </div>
        <button type="submit" class="btn primary-button w-100">Login</button>
    </form>
{% endblock %}
