{% extends "base.html" %}

{% block scripts %}
    {{super()}}
    <script type="module" src="{{url_for('static', filename='js/settings.js')}}"></script>
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="../static/css/settings.css">
{% endblock %}

{% block page_title%}
    <div style="text-align: center;">
        <br>
        <h2 id="page_title">Settings</h2>
        <br>
    </div>
{% endblock %}

{% block app_content %}
<div class="alert alert-info mb-4 text-center">
    <i class="bi bi-info-circle"></i>
    Click and drag columns to rearrange them. The first column cannot be reordered.
</div>
<div id="draggable-container">
    {% for column in table_info.column_order %}
    <div class="row draggable-row mx-0 p-2 mb-2 border rounded bg-white" draggable="true">
        <div class="col">
            <b>Column:</b>
            <span class="column-name">{{table_info.column_names[column]}}</span>
        </div>
        <div class="col">
            <div class="input-group">
                <span class="input-group-text">Rename:</span>
                <input type="text" class="form-control column-input"
                        placeholder="{{table_info.column_names[column]}}"
                        data-original-key="{{column}}"
                        data-original-name="{{table_info.column_names[column]}}">
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-end">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox"
                    value="" id="{{column}}"
                    {{'checked' if (column in table_info.column_order and table_info.column_names[column] not in drop_columns)}}
                    {% if use_api %}
                    {{'disabled' if column in api_curated_columns and (not use_curated_info)}}
                    {{'disabled' if (not use_ai_info) and column in api_ai_columns}}
                    {% elif column in api_curated_columns or column in api_ai_columns%}
                    disabled
                    {% endif %}
                >
                <label class="form-check-label" for="{{column}}">
                    Show
                </label>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}