{% extends "base.html" %}
{% block scripts %}
    {{super()}}
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>   
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    
    <!-- DataTable Behaviors -->
    <script type="module" src="{{url_for('static', filename='js/table.js')}}"></script>
    <!-- Report/Feedback Buttons --> 
    <script type="module" src="{{url_for('static', filename='js/issueReporting.js')}}"></script>
    <!-- Report Instructions Alert Messagebox -->    
    <script type="module" src="{{url_for('static', filename='js/alerts.js')}}"></script>
    <!--  -->
    <script type="module" src="{{url_for('static', filename='js/navbarFooter.js')}}"></script>
    <!--  -->
    <script type="module" src="{{url_for('static', filename='js/modals/softwareDetailsModal.js')}}"></script>
    <!--  -->
    <script type="module" src="{{url_for('static', filename='js/modals/exampleUseModal.js')}}"></script>
    
{% endblock %}

{%block page_title %}
<div style="text-align: center;">
    <br>
    <h2 id="page_title">Software Documentation Service</h2>
    <br>
    <br>
</div>
{% endblock %}

{% block app_content %}

<script>
// set columnMap var so JS files can use it
    var columnMap = '{{ column_map|tojson }}'
</script>

<div class="table-responsive table-container">
    <div class="table-responsive" id="softwareTableDiv" style="width: 85vw;">
        {{table|safe}}
    </div>
</div>

<div>
    <strong>Last Updated: <span id="lastUpdated"> {{last_updated}}</span></strong>
</div>
    
{% include '/modals/exampleUseModal.html' %}
{% include '/modals/feedbackModal.html' %}
{% include '/modals/reportModal.html' %}
{% include '/modals/softwareDetailsModal.html' %}
{%endblock%}