{% extends "base.html" %}
{% block scripts %}
    {{super()}}
    <!-- DataTable Behaviors -->
    <script type="module" src="{{url_for('static', filename='js/table.js')}}"></script>
    <!-- Alert Messagebox -->
    <script type="module" src="{{url_for('static', filename='js/alerts.js')}}"></script>
    <!--  -->
    <script type="module" src="{{url_for('static', filename='js/modals/softwareDetailsModal.js')}}"></script>
    <!--  -->
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="../static/css/softwareTable.css">
{% endblock %}

{% block app_content %}
<script>
    // set columnMap, use_ai_info, and use_api  vars so JS files can use it
    const col_names = '{{ column_names|tojson }}'
</script>
<div class="">
    <div class="table-responsive" id="softwareTableDiv">
        {{table|safe}}
    </div>
</div>

<div>
    <strong>Last Updated: <span id="lastUpdated"> {{last_updated}}</span></strong>
</div>

{% include '/modals/softwareDetailsModal.html' %}
{%endblock%}