{% extends "base.html" %}
{% block scripts %}
    {{super()}}
    <!-- DataTable Behaviors -->
    <script type="module" src="{{url_for('static', filename='js/table.js')}}"></script>
    <!-- Report/Feedback Buttons --> 
    <script type="module" src="{{url_for('static', filename='js/issueReporting.js')}}"></script>
    <!-- Report Instructions Alert Messagebox -->    
    <script type="module" src="{{url_for('static', filename='js/alerts.js')}}"></script>
    <!--  -->
    <script type="module" src="{{url_for('static', filename='js/modals/softwareDetailsModal.js')}}"></script>
    <!--  -->
    <script type="module" src="{{url_for('static', filename='js/modals/exampleUseModal.js')}}"></script>
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="../static/css/softwareTable.css">
{% endblock %}

{%block page_title %}
<div style="text-align: center;">
    <br>
    <h2 id="page_title">Software Documentation Service</h2>
    <br>
</div>
{% endblock %}

{% block app_content %}
<script>
    // set columnMap, use_ai_info, and use_api  vars so JS files can use it
    const col_names = '{{ column_names|tojson }}'
    const use_ai_info = '{{use_ai_info|safe}}'
    const use_curated_info = '{{use_curated_info}}'
    const use_api = '{{use_api}}'
</script>
<div class="table-responsive table-container">
    <div class="table-responsive" id="softwareTableDiv" style="max-width: 85vw;">
        {{table|safe}}
    </div>
</div>

<div>
    <strong>Last Updated: <span id="lastUpdated"> {{last_updated}}</span></strong>
</div>
    
{% include '/modals/exampleUseModal.html' %}
{% include '/modals/feedbackModal.html' %}
{% include '/modals/reportModal.html' %}
{% include '/modals/softwareDetailsModal.html' %}
{% include '/modals/containerModal.html' %}
{%endblock%}